* {
    background-color: #2a2a2a;
}

/*this exists solely for the little border around their screen shot 
which was probably just how they took the snip*/
#outerwrapper {
    height: 850px;
    width: 900px;
    background-color: white;
    padding: 0px 5px 0px 15px;
    position: relative;
    margin: auto;

}

/*begin the actual project*/
#innerwrapper {
    height: 840px;
    width: 890px;
    padding: 0px 0px 0px 0px;
    background-color: #d4d2ae;
}

.row {
    height: 170px;
    width: 850px;
    background-color: #d4d2ae;
    display: inline-block;
    margin-left: 25px;
}

/*These next 6 items are for the top title bar of the box
They end when mainimages is reached*/
.headerbox {
    height: 140px;
    width: 260px;
    background-color: #d4d2ae;
    display: inline-block;

}

h2 {
    text-align: center;
    font-size: 37px;
    padding-top: 40px;
    padding-left: 5px;
    display: inline-block;
    background-color: #d4d2ae;
}

.titleimage {
    height: 66px;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 45px;
    background-color: white;

}

#leftimage {
    margin-left: 140px;
    display: inline-block;
}

#header {
    height: 140px;
    width: 850px;
    background-color: #d4d2ae;
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
}

#title {
    width: 320px;
    display: inline-block;
    vertical-align: top;
}

/*Code for the images. Created an alternate in order to change every other box color and padding*/
.mainimages {
    height: 135px;
    width: 135px;
    margin: 1px;
    padding: 10px;
    background-color: #82b4ee;
    border: 4px solid black;
}

.altimages {
    height: 155px;
    width: 155px;
    margin: 1px;
    background-color: #f36870;
    border: 4px solid black;
}